{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
	<h2>About Us</h2>
	<p>For our final project in CS 205, we have choosen to create, 
	design and implement a program that will display a music database 
	in a graphical way on a web server. To accomplish this, we are 
	utilizing Django(2.1.7) as our framework and D3 Sunburst Charts 
	as our graphical display. The database is hosted via the 
	SQLite3 database that accompanies the Django framework.</p>
	<p>https://think.cs.vt.edu/corgis/csv/music/music.html -- Derived dataset 
	based on previous option, appears to be more in line with our size 
	constraints and our goals for content.</p>
	<p> For information of how our project was done, visit our github with the code and process. </p>
	<p>https://github.com/ConnorAllan/MusicalSunburst </p>
	<h3 class="aboutus"> Meet the Team! </h3>
	<p> We are a combination of undergraduate and graduate students taking CS 205
	before we graduate! We all had a love for music and decided to create our
	final project based on that topic. </p>
	<div class ="row">
		<div class = "column">
			<h4 class="us"> Connor</h4>
			<img alt="" src="{% static "images/connor.png" %}">
		</div>
		<div class = "column">
			<h4 class="us"> Jack</h4>
			<img alt="" src="{% static "images/jack.png" %}">
		</div>
		<div class = "column">
			<h4 class="us"> Jake</h4>
			<img alt="" src="{% static "images/jake.png" %}">
		</div>
		<div class = "column">
			<h4 class="us"> Shravya</h4>
			<img alt="" src="{% static "images/shravya.png" %}">
		</div>
	</div>
{% endblock %}
