{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	<h2>About Us</h2>
	<p>For our final project in CS 205, we have choosen to create, 
	design and implement a program that will display a music database 
	in a graphical way on a web server. To accomplish this, we are 
	utilizing Django(2.1.7) as our framework and D3 Sunburst Charts 
	as our graphical display. The database will be hosted via the 
	SQLite3 database that accompanies the Django framework.</p>
	<p>https://think.cs.vt.edu/corgis/csv/music/music.html -- Derived dataset 
	based on previous option, appears to be more in line with our size 
	constraints and our goals for content.</p>
	<br></br>
	<h3> Meet the Team! </h3>
	<p>
		<ol>
			<li><img alt="" src="images/connor.png"></li>
			<li><img alt="" src="images/jake.png"></li>
			<li> <img alt="" src="images/jack.png"></li>
			<li> <img alt="" src="images/shravya.png"></li>
		</ol>
	</p>
{% endblock %}