<!DOCTYPE html>
<html>
    <head>
        <title>Musical Sunburst</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        {% if releases_list%}
        <ul>
            {% for release in releases_list%}
            <li><a href="/music/{{ release.id }}/">{{ release.fldName }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No releases are available.</p>
        {% endif %}


    </body>
</html>
